<form [formGroup]="form">

    <div class="form-group">
        <label for="exampleInputOldPassword">Old Password</label>
        <input formControlName="oldPassword" type="text" class="form-control" id="exampleInputOldPassword"
            placeholder="old password">
    </div>

    <div class="form-group">
        <label for="exampleInputNewPassword">New Password</label>
        <input formControlName="newPassword" type="text" class="form-control" id="exampleInputNewPassword" placeholder="code">
    </div>

    <button class="btn btn-primary" (click)="changePassword()">Change password </button>
</form>